[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pyqt6 = "*"
pylint = "*"
loguru = "*"

[dev-packages]
pynvim = "*"
pyqt6-tools = "*"

[requires]
python_version = "3.11"
